@tailwind base;

@layer base {
  * {
    box-sizing: border-box;
    outline: none;
  }

  @font-face {
    font-family: "SbSansDisplay";
    src: url('../fonts/SBSansDisplay-Regular.otf') format("opentype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "SbSansDisplay";
    src: url('../fonts/SBSansDisplay-SemiBold.otf') format("opentype");
    font-weight: 600;
    font-display: swap;
  }

  html {
    @apply text-16 font-sans;
  }

  @media (min-width: 1440px) {
    html {
      font-size: calc(16 * 100vw / 1440);
    }
  }

  @media (min-width: 1680px) {
    html {
      font-size: calc(15 * 100vw / 1440);
    }
  }

  @media (min-width: 1920px) {
    html {
      font-size: calc(14 * 100vw / 1440);
    }
  }

  @media (min-width: 2560px) {
    html {
      font-size: calc(13 * 100vw / 1440);
    }
  }

  @media (min-width: 3840px) {
    html {
      font-size: calc(12 * 100vw / 1440);
    }
  }

  html,
  body {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
  }

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
  }

  h1 {
    @apply text-24 font-bold;
  }

  h2 {
    @apply text-20 font-bold;
  }

  h3 {
    @apply text-18 font-bold;
  }

  h4 {
    @apply text-16 font-bold;
  }
  iframe {
    left: 50px;
    /* @media (max-width: 767px) {
      left: 0px;
    } */
  }

  h5 {
    @apply text-14 font-bold;
  }

  h5.subtitle {
    @apply text-14 font-semibold;
  }

  p {
    @apply text-14;
  }

  h6 {
    @apply text-12 font-bold;
  }

  h6.subtitle {
    @apply text-12 font-semibold;
  }

  small {
    @apply text-12;
  }

  small.xs-bold {
    @apply text-10 font-bold;
  }

  small.xs {
    @apply text-10;
  }

  a {
    @apply text-14;
  }

  ul {
  }

  ol {
  }

  nav {
  }

  label {
    display: block;
    position: relative;
    width: fit-content;
    cursor: pointer;

    @apply text-14;
  }

  label[data-required='true']::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -7px;
    color: red;
  }

  b {
  }

  em {
  }

  i {
  }

  small {
  }

  strong {
  }

  sub {
  }

  sup {
  }

  ins {
  }

  del {
  }

  mark {
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  hr {
    background: grey;
    margin: 1rem 0;
  }
  button,
  button:focus,
  button:active {
    outline: none;
    transition: all 0.2s ease;
  }
  svg {
    transition: all 0.2s ease;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input[data-variant='primary']:-webkit-autofill,
  input[data-variant='primary']:-webkit-autofill:hover,
  input[data-variant='primary']:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #2a2e3c inset !important;
  }

  svg {
    transition: all 0.2s ease;
  }
  @media (max-width: 768px) {
    iframe {
      left: 150px;
      max-width: 80%;
    }
  }
  @media (max-width: 568px) {
    iframe {
      left: 0px;
      right: 60px;
      max-width: 100%;
    }
  }
}

@tailwind components;

@layer components {
  .container {
    @apply min-w-320 px-44 mx-auto;
  }

  .layout {
    @apply flex flex-col min-w-screen min-h-screen;
  }

  .layout > div {
    @apply flex-1;
  }

  /* Table */
  .table {
    @apply w-full overflow-y-hidden text-neutral-1 bg-neutral-15;
  }

  .table thead {
    @apply w-full flex flex-col; /* lg:w-fit */
  }

  .table thead tr {
    @apply flex;
  }

  .table thead tr th {
    @apply flex-1 items-center justify-center border-neutral-13;
  }

  .table tbody {
    @apply w-full flex flex-col overflow-auto; /* lg:w-fit */
  }

  .table tbody tr {
    @apply flex;
  }

  .table tbody tr td {
    @apply flex-1 border-neutral-13;
  }
}

@tailwind utilities;

@layer utilities {
  .active-ring {
    @apply ring ring-offset-1 ring-offset-neutral-9 ring-violet-3;
  }

  .no-border-r {
    border-right: 0;
  }

  .no-border-l {
    border-left: 0;
  }

  .absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*.neutral-icon {*/
  /*    @apply text-neutral-4 cursor-pointer transition-transform transform hover:scale-125*/
  /*}*/

  .focus-primary-violet-ring {
    @apply focus-within:ring-2 focus-within:ring-neutral-11 focus-within:ring-offset-1 focus-within:ring-offset-violet-3;
  }

  .focus-light-violet-ring {
    @apply focus-within:ring-2 focus-within:ring-violet-1 focus-within:ring-opacity-30 focus-within:ring-offset-1 focus-within:ring-offset-violet-3;
  }

  .error-primary-ring {
    @apply ring-2 ring-red-3 ring-offset-1 ring-offset-red-1;
  }

  .error-light-ring {
    @apply ring-2 ring-red-1 ring-opacity-30 ring-offset-1 ring-offset-red-1;
  }
}

@tailwind screens;
